# SWESARR Hackweek Project 2024

Group Members: Michelle, Evi, Nani, Dylan, Megan, Kehan, Mike, Elodie

In [6]:
import pandas as pd

# 1. Introduction

# 2. Goals

* Retrieve SWE from SWESARR
* Gain experience with radar data
* Compare radar measurements wuth everything!
* Better understand the SWESARR radar measurements at Grand Mesa

# 3. Algorithm and Methods

Evi and Mike

# 4. Data

1. Radar
2. In situ
   * **Snowpit** (Evi)
   * Autumn soil conditions (Megan)
   * Microstructure: **SSA** (Evi), CT (microstructure group), and SMP (Megan)
   * Photos (Megan)
3. Meteorology (Michelle)
4. Spatial
   * Lidar (Evi & Nani)
   * Sentinel (Kehan)
   * GPR SWE (Kehan)
   * ASO SWE (Kehan)
   * Land cover (Kehan)

In [24]:
# Timeline of SWESARR flights (Dylan & Mike)
# there are three days with flights in November, and two days with flights in February. Each day has two or three flights. Total flights is 13.
days=['2019-11-04','2019-11-05','2019-11-06','2020-02-11','2020-02-12']
nflights=[2,3,3,3,2]
dftimes=pd.DataFrame(data={'date':days,'flights':nflights})
dftimes

         date  flights
0  2019-11-04        2
1  2019-11-05        3
2  2019-11-06        3
3  2020-02-11        3
4  2020-02-12        2

# 5. Data exploration and comparison

This will evolve organic

1. Spatial and temporal radar patterns (Nani)
2. Timeseries of met data and soil moisture (Michelle)
3. Snow depth patterns from Lidar (Nani and Evi)

# 6. Pulling algorithm inputs

* Radar (Dylan)
* Other (Dylan)

# 7. Running algorithm
* Run! (Dylan)

# 8. Plotting algorithm output

Elodie & Mike

# 9. TBD what that means

# 10. Fin! What did we learn